.newtask {
  display: flex;
  gap: 0.8rem;
  transform: translateY(-50%);
}

.newtask__input {
  flex-grow: 1;
  background-color: var(--gray-500);
  outline: none;
  border-radius: 0.8rem;
  border: 1px solid var(--gray-700);
  padding: 1.6rem;
  color: var(--white);
}

.newtask__input:active,
.newtask__input:focus {
  border: 1px solid var(--purple-dark);
}

.newtask__button {
  background-color: var(--blue-dark);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  border: 0;
  font-size: 1.4rem;
  font-weight: 700;
  transition: background-color 0.1s;
}

.newtask__button:hover {
  background-color: var(--blue);
  cursor: pointer;
}
