:root {
  --white: #fff;
  --gray-100: #fefefe;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
  --purple: #8284fa;
  --purple-dark: #5e60ce;
  --blue: #4ea8de;
  --blue-dark: #1e6f9f;
  --blue-dark-opacity: rgb(30, 111, 159, 0.2);
  --danger: #e25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: var(--gray-600);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
  position: relative;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
}
